
/viikko2/Ohtu-NhlStatistics1/target/
/viikko2/Verkkokauppa1/my_checks.xml~
/viikko2/Verkkokauppa1/my_checks_backup.xml
/viikko2/Verkkokauppa1/target/
/target/
/OhtuVarasto/target/
*.badfile
/viikko3/KumpulaBiershop/target/
/viikko3/LoginEasyBv1/target/
/viikko4/Verkkokauppa4/target/